<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>573390837011-gfdn1ds9ds5l18v1scuurkt5nef7d608.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573390837011-gfdn1ds9ds5l18v1scuurkt5nef7d608</string>
	<key>API_KEY</key>
	<string>AIzaSyB4FehzY8jyVeqpXjImWRgd7bJsFIFSJGU</string>
	<key>GCM_SENDER_ID</key>
	<string>573390837011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MTS.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9709a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9709a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573390837011:ios:f2323e7400ddae50</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-9709a.firebaseio.com</string>
</dict>
</plist>